
.icon-post:before { content: '\e82c'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */